/* 遐蝶 */
.xiadie{
    color: rgb(89, 104, 255);
    color: rgb(135, 152, 255);
    color: rgb(206, 149, 255);
    color: rgb(93,67,210);
}

/* 简历配色 */
.resume{
    color: rgb(89, 104, 255);
    color: rgb(135, 152, 255);
}
