/* 
加载顺序：外部样式 = 内部样式 -> 行内样式  外部样式和内部样式根据代码定义顺序加载
同一个样式表中，后者覆盖前者

一般项目上线时对css文件进行压缩紧凑，加快网页加载速度（即去掉json格式化）
 */


/* 通配选择器 */
* {
    color: cadetblue;
    border: 1px;
}

/* 标签选择器 */
h1 {
    color: red;
    font-size: 60px;
}
a {
    color: cornflowerblue;
}

/* 类选择器 */
.appLink{
    color: aqua;
}
.phoneLink{
    color: black;
    font-size: 60px;
}

/* id选择器 */
#link1{
    color: brown;
}
#link2{
    color: blueviolet;
    font-size: 50px;
}

